.text-telegram {
  background: linear-gradient(
    88.39deg,
    #6c93ff -2.56%,
    #976fff 51.27%,
    #df69d1 107.39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
