@mixin providerStyle($name) {
  &--#{$name} {
    .release-link__image {
      background-image: svg-load("./icons/#{$name}.svg");
    }
  }
}

.release-link {
  &__after {
    button {
      min-width: 60px;
    }
  }
}

.release {
  &-link {
    .badge {
      &--invisible {
        --tgui--plain_background: none;
      }
    }
    .release-link__image {
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      @apply w-8 h-8;
    }

    @include providerStyle("beatport");
    @include providerStyle("spotify");
    @include providerStyle("apple-music");
    @include providerStyle("junodownload");
    @include providerStyle("yandex-music");
    @include providerStyle("itunes");
    @include providerStyle("vk-music");
    @include providerStyle("neuropunk");
    @include providerStyle("youtube");
    @include providerStyle("youtube-music");
    @include providerStyle("yandex-music");
    @include providerStyle("soundcloud");
    @include providerStyle("tidal");
    @include providerStyle("deezer");
    @include providerStyle("amazon");
    @include providerStyle("mts-music");
    @include providerStyle("zvuk");
  }
}
