@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
  height: 100vh;
}

.app-root {
  height: 100%;
}

.badge {
  @apply py-3 px-2 m-0;
}

.banner {
  h6 {
    &:first-of-type {
      @apply text-lg;
    }
  }
}

@import "page";
