.release {
  &__background {
    filter: blur(13px);
    @apply fixed top-0 right-0 bottom-0 left-0 w-full h-full object-cover;
  }
  &__cover {
    video,
    img {
      aspect-ratio: 4 / 3;
      object-fit: cover;
      @apply w-full;
    }
  }
  &__info {
    > div {
      background: hsl(
        from var(--tg-theme-section-bg-color) h s calc(l - 4)
      ) !important;
    }
  }
}
