.release-item {
  .loading {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.47);
    // filter: blur(13px);
  }
  &.is-loading {
    .loading {
      opacity: 1;
    }
  }
}
