.releases {
  &--latest {
    .card-cell {
      h6 {
        text-align: left;
        span {
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline;
        }
      }
    }
    .card-chip {
      top: 4px;
      right: 8px;
      opacity: 0.9;
      @apply px-1.5 py-0.5;

      h6 {
        font-size: 12px;
      }

      + img {
        // max-height: 200px;
        height: 100%;
        // max-width: 220px;
        width: 100%;
        object-fit: cover;
      }
    }
    article {
      width: 100%;
    }
  }
}

.swiper--releases {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button {
    &-prev,
    &-next {
      --swiper-navigation-sides-offset: -10px;
      --swiper-navigation-size: 28px;
      top: calc(50% - 35px) !important;
      padding: 20px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    // &-prev {

    // }
  }
}
