@import "variant-3";

.btn__claim {
  > span {
    // background-color: #000;
    z-index: 1;
    position: relative;
    color: #414141;
    @apply font-bold inline-flex items-center text-base;
  }
}

.btn__claim:after {
  background: #e5e5e5;
}

.icon {
  &-ne {
    top: -2px;
    &::before {
      background: center/contain url("/logo-black.svg") no-repeat;
    }
  }
}
